{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>ContactBook: Home</title>

        <!-- <link rel="stylesheet" href="{% static 'rootapp/css/index.css' %}"> -->
        {% tailwind_css %}
</head>

<body class="text-center">
        <h1 class="text-4xl font-semibold">
                Your Contacts!
        </h1>
        <p>
                You can find all your contacts here. In one go.
        </p>
        <h1>Hello World. This is hmr in django.</h1>
</body>

</html>